<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="refresh" content="<%= (Time.now.next_interval - Time.now).ceil %>"/>
    <title>Momentum</title>
    <%= stylesheet_link_tag 'momentum' %>
    <%= stylesheet_link_tag 'jquery.ui.autocomplete.css' %>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery.dimensions.js"></script>
    <script src="/javascripts/jquery.templating.js"></script>
    <script src="/javascripts/jquery.ui.autocomplete.ext.js"></script>
    <script src="/javascripts/jquery.ui.autocomplete.js"></script>
  </head>
  <body>
    <% @display = flash[:notice].blank? && flash[:error].blank? ? 'none' : 'block' %>
    <div id="overlay" style="display:<%= @display %>">
      <div id="background">&nbsp;</div>
      <div id="content" style="background:<%= @color %>">
        <div id="notice"><%= flash[:notice] || flash[:error] %></div>  
        <div id="errors"><%= error_messages_for :interval %></div> 
        <div style="position:absolute;text-align:center;bottom:20px;width:100%"> 
          <button onclick="$('#overlay').hide();" type="button">Close</button>
        </div>  
      </div>  
    </div>
    <div id="frame">
      <%= yield %>      
    </div>  
  </body>
</html>